.mxed-label {
  margin-bottom: 9px;
}
.mxed-block {
  margin-bottom: 40px;
}
.mxed-block--less_margin {
  margin-bottom: 36px;
}
.mxed-block--no_margin {
  margin-bottom: 0;
}
.mxed-label__title {
  letter-spacing: .5px;
  position: relative;
}
.mxed-label__title--required:after {
  content: "*";
  color: #d36f7b;
  position: absolute;
  top: 1px;
  right: -11px;
}
.mxed-label__title--increased_ls {
  letter-spacing: 0.75px;
}
.mxed-label--increased_margin {
  margin-bottom: 14px;
}
